/* 전체 설정 */
.font {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.kR-font {
  font-family: "IBM Plex Sans KR", serif;
  font-weight: 400;
  font-style: normal;
}

.bold{
  font-weight: 600;
}

/* 네비게이션 */
.logo{
  width: 150px;
  height: 45px;
}

.backColor{
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler{
  display: none;
  border: none !important;
}

.menus{
  display: flex;
}

.menu{
  margin-left: 20px;
  cursor: pointer;
}

/* 배너 */
.carousel{
  display: flex;
  align-content: center;
  width: 100%;
  height: 650px;
}

.back{
  display: flex;
  width: 30%;
  margin: auto;
  position: relative;
}

.banner{
  width: 100%;
  height: 650px;
}

.back-image{
  position: absolute;
  width: 100%;
  margin-top: 150px;
}

.carousel-item {
  transition: transform 2s ease-in-out, opacity 2s ease-in-out !important;
}

/* 제품 */
.productTea{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 40px;
}

.typeup{
  margin: 20px auto;
}

.picture{
  width: 100%;
  display: flex;
  margin: 0 auto;
  overflow-x: hidden;
  align-items: center;
}

.type{
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.autoMove{
  display: flex;
}

.tea{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 20px;
}

.center{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.center p{
  margin-left: 20px;
}

/* 라인 */
.underScroll{
  width: 100%;
  margin: 50px auto 0 auto;
  text-align: center;
  overflow-y: hidden;
}

.line{
  /* visibility: hidden; */
  width: 15px;
  height: 100px;
  margin-bottom: -15px;
}

/* best 상품 */
.color{
  width: 100%;
  height: auto;
  background-color: #143321;
}

/* best 시작 화살표 */
.underline{
  max-width: 100%;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.content {
  position: absolute;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
}

.under{
  display: block;
  width: 50px;
  position: absolute;
  margin: 0 auto;
  transition: transform 0.2s ease; 
}

.bestTea{
  width: 100%;
  height: 1100px;
  text-align: center;
  position: relative;
  
  overflow-x: hidden;
}

.bestSection{
  max-width: 100%;
  margin: 0 auto;
  color: white;
}

.moveTea{
  width: 300px;
  height: 400px;
  border-radius: 45%;
  border: 1px solid white;
  padding: 15px;
  margin-bottom: 20px;
}

/* .icon{
  width: 45px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 10px;
} */

.circleMove{
  display: flex;
}

.circleMove img{
  margin: 100px auto 0 auto;
}

.best{
  text-align: center;
}

.bestone{
  position: absolute;
  margin-top: 300px;
  margin-left: 40%;
}

.besttwo{
  position: absolute;
  margin-top: 440px;
  margin-left: 20%;
}

.bestthree{
  position: absolute;
  margin-top: 440px;
  margin-left: 60%;
}

.bestfour{
  position: absolute;
  margin-top: 300px;
}

.bestfive{
  position: absolute;
  margin-top: 300px;
  margin-left: 80%;
}

/* 레시피 */
.recipe{
  max-width: 1280px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto 200px auto;
}

.recipeSection{
  background-color: white;
  max-width: 1280px;
  margin: 200px auto 100px auto;
  overflow-x: hidden;
  text-align: center;
}

.recipeLogo{
  width: 600px;
  height: auto;
}

.recipeImageSection{
  display: flex;
  overflow-x: hidden;
}

.carousel-item .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recipeImg {
  width: 100%;
  height: 100%;
  border-radius: 10px 0;
}


/* 인스타그램 */
.instagram{
  width: 100%;
  background-color: #143321;
  overflow: hidden;
}

.instaMove{
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.instaLogo1{
  width: 50%;
  max-width: 700px;
  position: absolute;
  margin-top: 150px;
  left: 0;
  transform: translateX(-100%);
}

.instaLogo2{
  width: 50%;
  max-width: 1000px;
  position: absolute;
  margin-top: 350px;
  right: 0px;
  transform: translateX(100%);
}

.instaSection{
  margin: 650px 0 150px 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.instaImg{
  width: 40%;
  max-width: 450px;
  border-radius: 10px;
  margin-left: 30px;
}

.insta1, .insta3, .insta5, .insta7, .insta9, .insta11{
  margin-top: 150px;
}

.insta2, .insta4, .insta6, .insta8, .insta10{
  margin-bottom: 150px;
}

/* foot */

.footer{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fbf8f6;
  padding: 5%;
  text-align: center;
}

.informations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.phoneNum{
  margin: 50px auto;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  
  /* 네비게이션바 */
  .menus{
    display: none;
  }

  .navbar-toggler{
    display: block;
  }

  /* 배너 이미지 */
  .back{
    width: 50%;
  }

  .back-image{
    margin-top: 200px;
  }

  /* 제품 이미지 */
  .product{
    margin-left: 10px;
  }

  .picture{
    width: 90%;
    flex-direction: column;
    align-items: start;
  }

  .type{
    width: 100%;
    height: 100%;
  }

  /* best */
  .content {
    left: 46%;
  }

  .bestTea{
    height: 2900px;
  }

  .circleMove{
    flex-direction: column;
    align-items: center;
  }

  .circleMove h1{
    margin: 100px auto 0 auto;
  }

  .bestone{
    position: block;
    margin: 250px auto 0 auto;
  }
  
  .besttwo{
    position: block;
    margin: 750px auto 0 auto;
  }
  
  .bestthree{
    position: block;
    margin: 1250px auto 0 auto;
  }
  
  .bestfour{
    position: block;
    margin: 1750px auto 0 auto;
  }
  
  .bestfive{
    position: block;
    margin: 2250px auto 0 auto;
  }

  /* 레시피 */
  .carousel-item .row {
    flex-direction: column;
  }

  .carousel-item .col {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .recipeImg {
    width: 80%;
    height: auto;
  }

  .recipeLogo {
    max-width: 100%;
  }

  /* 인스타그램 */
  .instaLogo1{
    width: 80%;
    display: block;
  }

  .instaLogo2{
    width: 100%;
    display: block;
    margin-top: 250px;
  }

  .instaSection{
    margin: 450px 0 150px 0;
    flex-wrap: wrap;
  }
  
  .insta1, .insta3, .insta5, .insta7, .insta9, .insta11{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .insta2, .insta4, .insta6, .insta8, .insta10{
    margin-bottom: 10px;
  }

  /* footer */
  .informations{
    flex-direction: column;
  }

  .informations h4{
    margin-bottom: 50px;
  }

  .phoneNum{
    margin-top: 0;
  }

}