/* 전체 */
.font {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.kR-font {
  font-family: "IBM Plex Sans KR", serif;
  font-weight: 400;
  font-style: normal;
}

.back-font {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

/* 로고 */
.topContainer{
  margin-top: 60px;
  position: relative;
  display: flex;
  width: 100%;
  height: 700px;
  overflow: hidden;
  z-index: 10;
}

.backLogo{
  position: absolute;
  font-size: 400px;
  opacity: 0.5;
  animation: scroll 10s linear infinite;
  color: #95a49b;
  width: max-content;
  
}

/* 로고 반복 */
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(+100%);
  }
}

/* 로고 위의 요소들 */
.icon{
  position: relative;
  top: 8%;
}

.back{
  position: absolute;
  z-index: 11;
}

.front{
  position: absolute;
  z-index: 20;
}

.hend{
  position: absolute;
  z-index: 15;
  top: 7px;
  opacity: 0;
  left: -100px;
  animation: hendIn 2s ease-out forwards, fadeIn 1s ease-out forwards;
  transition: opacity 0.5s ease-out;
}

@keyframes hendIn {
  0% {
    left: -100px;
  }
  100% {
    left: 55px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.writing{
  overflow: hidden;
}

.recipeLogo{
  position: absolute;
  width: 300px;
  top: 30%;
  right: 10%;
  transform: translateX(160%);
  animation: slideIn 1s ease-out forwards;
  animation-delay: 2s;
}

.recipeText{
  max-width: 100%;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateX(150%);
  animation: slideIn 2s ease-out forwards;
  animation-delay: 3s;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* 레시피 */
.recipeContainer{
  width: 100%;
  overflow: hidden;
  background-color: #143321;
}

.recipeLogoImg{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.recipeLogo-bottom{
  width: 500px;
}

.recipeImgs{
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 100px auto;
}

.recipeMenu{
  display: flex;
}

.recipeImg{
  width: 33%;
  cursor: pointer;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 0.8s ease-out;
}

.recipeImg.active {
  opacity: 1;
  transform: translateY(0); /* 이미지가 서서히 나타나며 위로 올라옴 */
}

/* 모달 content */
.modal-body{
  max-height: 400px;
  overflow-y: scroll;
}

.recipeGif{
  width: 100%;
}

.ingredients{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.ingredient{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ingredientImg{
  width: 40%;
}

.ingredients p{
  font-size: 12px;
}

/* 스크롤 */

.modal-body::-webkit-scrollbar{
  width: 10px;
  background-color: white;
}

.modal-body::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.505);
  border-radius: 10px;
}